.span12
  = cms_tag(:h1, @obj, :headline)

  = cms_tag(:div, @obj, :content)

  = form_for(@presenter, url: cms_path(@obj)) do |form|
    .control-group
      = form.label(:login)

      .controls
        = form.text_field(:login, required: true)

    .control-group
      .controls
        = form.submit(class: 'btn')
